bash/local/*
vim_testfile.txt
*.un~
*.swp
*.local
*.combined

# will be different from machine to machine, so just ignore them
dotfiles.sublime-workspace
dotfiles.sublime-project
vim/spell/
doom/doom.d/custom.el
