snippet projection "projection" b
{
  "src/main/java/*.java": {
    "alternate": "src/test/java/{}.java",
    "type": "source"
  },
  "src/test/java/*.java": {
    "alternate": "src/main/java/{}.java",
    "type": "test"
  },
  "*.java": {"dispatch": "javac {file}"},
  "*": {"make": "mvn"}
}
endsnippet
