snippet toc "Description" b
.. toctree::
   :maxdepth: 2
${0}
endsnippet

snippet code "code" b
.. code:: bash

    $ ${0}
endsnippet

snippet !math "Math" b

.. math::

    ${0}

endsnippet


snippet !url "URL"
\`${2:google} <${1:https://www.google.com}>\`_
endsnippet
