snippet enu "Description" b
\begin{enumerate}
\item $0
\end{enumerate}
endsnippet


snippet ssec "Subsection" b
\subsection{$1}
$0
endsnippet

snippet subs "Subsection" b
\subsection{$1}
$0
endsnippet

snippet align "Align" b
\begin{align*}
$0
\end{align*}

endsnippet

snippet simp "simplify" b
\text{(simplify)} \\
endsnippet
