snippet [
	[${1:label}](${2:location})

snippet ![
	![${1:label}](${2:location})

snippet r
	```{r ${1:label}, ${2:options}}
	${0}
	```

snippet rcpp
	```{r, engine='Rcpp'}
	#include <Rcpp.h>
	using namespace Rcpp;
	
	${0}
	
	```

snippet yaml
	---
	title: "${1}"
	author: Albert Lee
	---
snippet sessioninfo

	# Session Information

	```{r session_info, echo=TRUE, eval=TRUE, include=TRUE, results='markup'}
	sessionInfo()
	```